USE [QLDUAN]
GO
/****** Object:  Table [dbo].[CHITIET_HD]    Script Date: 1/4/2022 4:57:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_HD](
	[MSHD] [char](10) NOT NULL,
	[MSMH] [char](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [money] NULL,
 CONSTRAINT [PK_CHITIET_HD] PRIMARY KEY CLUSTERED 
(
	[MSHD] ASC,
	[MSMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 1/4/2022 4:57:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MSHD] [char](10) NOT NULL,
	[MANV] [char](15) NULL,
	[MSKH] [char](15) NULL,
	[NGAYHD] [datetime] NULL,
	[TONGTIEN] [float] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MSHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 1/4/2022 4:57:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MSKH] [char](15) NOT NULL,
	[TENKH] [nvarchar](30) NULL,
	[PHAI] [nchar](10) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[DIENTHOAI] [varchar](10) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MSKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATHANG]    Script Date: 1/4/2022 4:57:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATHANG](
	[MSMH] [char](10) NOT NULL,
	[TENMH] [nvarchar](100) NULL,
	[SL_TON] [char](10) NULL,
	[DONGIA] [float] NULL,
	[DONVITINH] [nchar](20) NULL,
 CONSTRAINT [PK_MATHANG] PRIMARY KEY CLUSTERED 
(
	[MSMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 1/4/2022 4:57:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](15) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[PHAI] [nchar](10) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[DIENTHOAI] [nvarchar](10) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIET_HD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_HD_HOADON] FOREIGN KEY([MSHD])
REFERENCES [dbo].[HOADON] ([MSHD])
GO
ALTER TABLE [dbo].[CHITIET_HD] CHECK CONSTRAINT [FK_CHITIET_HD_HOADON]
GO
ALTER TABLE [dbo].[CHITIET_HD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_HD_MATHANG] FOREIGN KEY([MSMH])
REFERENCES [dbo].[MATHANG] ([MSMH])
GO
ALTER TABLE [dbo].[CHITIET_HD] CHECK CONSTRAINT [FK_CHITIET_HD_MATHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MSKH])
REFERENCES [dbo].[KHACHHANG] ([MSKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
/****** Object:  StoredProcedure [dbo].[pr_TAOMAKH]    Script Date: 1/4/2022 4:57:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_TAOMAKH]
AS
BEGIN
	------------------1.Chưa có khách hàng
	IF NOT EXISTS(SELECT * FROM KHACHHANG)
		SELECT 'KH' +  CAST(YEAR(GETDATE()) AS VARCHAR) + 
				   CAST(MONTH(GETDATE()) AS VARCHAR) + 
					   CAST(DAY(GETDATE()) AS VARCHAR) + '001'
	ELSE ------------------2.Đã có khách hàng
	BEGIN
		DECLARE	@KH1	VARCHAR(15),
				@KH2	VARCHAR(15)
		SELECT @KH1 = MAX(MSKH) FROM KHACHHANG
		---SELECT  MAX(MSKH) FROM KHACHHANG
		SET @KH2 = RIGHT(RTRIM(@KH1), 3) + 1
		IF LEN(@KH2)=1
			SELECT	'KH' +CAST(YEAR(GETDATE()) AS VARCHAR) + 
					      CAST(MONTH(GETDATE()) AS VARCHAR) + 
				     	  CAST(DAY(GETDATE()) AS VARCHAR) + '00' + @KH2
		ELSE
			IF LEN(@KH2)=2
				SELECT	'KH' + CAST(YEAR(GETDATE()) AS VARCHAR) + 
						CAST(MONTH(GETDATE()) AS VARCHAR) + 
						CAST(DAY(GETDATE()) AS VARCHAR) + '0' + @KH2
			ELSE
				IF LEN(@KH2)=3
					SELECT	'KH' + CAST(YEAR(GETDATE()) AS VARCHAR) + 
							CAST(MONTH(GETDATE()) AS VARCHAR) + 
							CAST(DAY(GETDATE()) AS VARCHAR) + @KH2
	END
END
GO
/****** Object:  StoredProcedure [dbo].[pr_TAOMANV]    Script Date: 1/4/2022 4:57:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_TAOMANV]
AS
BEGIN
------------------1.Chưa có khách hàng
IF NOT EXISTS(SELECT * FROM NHANVIEN)
SELECT 'NV' + CAST(YEAR(GETDATE()) AS VARCHAR) +
CAST(MONTH(GETDATE()) AS VARCHAR) +
CAST(DAY(GETDATE()) AS VARCHAR) + '001'
ELSE ------------------2.Đã có khách hàng
BEGIN
DECLARE @NV1 VARCHAR(15),
@NV2 VARCHAR(15)
SELECT @NV1 = MAX(MANV) FROM NHANVIEN
SET @NV2 = RIGHT(RTRIM(@NV1), 3) + 1
IF LEN(@NV2)=1
SELECT 'NV' +CAST(YEAR(GETDATE()) AS VARCHAR) +
CAST(MONTH(GETDATE()) AS VARCHAR) +
CAST(DAY(GETDATE()) AS VARCHAR) + '00' + @NV2
ELSE
IF LEN(@NV2)=2
SELECT 'NV' + CAST(YEAR(GETDATE()) AS VARCHAR) +
CAST(MONTH(GETDATE()) AS VARCHAR) +
CAST(DAY(GETDATE()) AS VARCHAR) + '0' + @NV2
ELSE
IF LEN(@NV2)=3
SELECT 'NV' + CAST(YEAR(GETDATE()) AS VARCHAR) +
CAST(MONTH(GETDATE()) AS VARCHAR) +
CAST(DAY(GETDATE()) AS VARCHAR) + @NV2
END
END
GO
/****** Object:  StoredProcedure [dbo].[pr_TAOMSHD]    Script Date: 1/4/2022 4:57:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_TAOMSHD]
AS
BEGIN
------------1.Xét chưa có hóa đơn

IF NOT EXISTS(SELECT * FROM HOADON)
 SELECT 'HD' + CAST(YEAR(GETDATE()) AS VARCHAR) + 
 CAST(FORMAT(GETDATE(),'MM') AS VARCHAR) + 
 CAST(FORMAT(GETDATE(),'dd') AS VARCHAR) + '001'
------------2.Đã có hóa đơn
ELSE
BEGIN
 DECLARE @HD1 VARCHAR(15),
 @HD2 VARCHAR(15)
 SELECT @HD1 = MAX(MSHD) FROM HOADON
 ----SELECT MAX(MSHD) FROM HOADON
 SET @HD2 = RIGHT(RTRIM(@HD1), 3) + 1
 IF LEN(@HD2)=1
 SELECT 'HD' + CAST(YEAR(GETDATE()) AS VARCHAR) + 
 CAST(FORMAT(GETDATE(),'MM') AS VARCHAR) + 
 CAST(FORMAT(GETDATE(),'dd') AS VARCHAR) + '00' + @HD2
 ELSE 
 IF LEN(@HD2)=2
 SELECT 'HD' + CAST(YEAR(GETDATE()) AS VARCHAR) + 
 CAST(FORMAT(GETDATE(),'MM') AS VARCHAR) + 
 CAST(FORMAT(GETDATE(),'dd') AS VARCHAR) + '0' + @HD2
 ELSE
 IF LEN(@HD2)=3
 SELECT 'HD' + CAST(YEAR(GETDATE()) AS VARCHAR) + 
 CAST(FORMAT(GETDATE(),'MM') AS VARCHAR) + 
 CAST(FORMAT(GETDATE(),'dd') AS VARCHAR) + @HD2
END
END
GO
/****** Object:  StoredProcedure [dbo].[pr_TAOMSMH]    Script Date: 1/4/2022 4:57:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_TAOMSMH]
AS
BEGIN
------------------1.Chưa có mặt hàng
IF NOT EXISTS(SELECT * FROM MATHANG)
SELECT 'MH' + CAST(YEAR(GETDATE()) AS VARCHAR) +
CAST(MONTH(GETDATE()) AS VARCHAR) +
CAST(DAY(GETDATE()) AS VARCHAR) + '001'
ELSE ------------------2.Đã có mặt hàng
BEGIN
DECLARE @NV1 VARCHAR(15),
@NV2 VARCHAR(15)
SELECT @NV1 = MAX(MSMH) FROM MATHANG
SET @NV2 = RIGHT(RTRIM(@NV1), 3) + 1
IF LEN(@NV2)=1
SELECT 'MH' +CAST(YEAR(GETDATE()) AS VARCHAR) +
CAST(MONTH(GETDATE()) AS VARCHAR) +
CAST(DAY(GETDATE()) AS VARCHAR) + '00' + @NV2
ELSE
IF LEN(@NV2)=2
SELECT 'MH' + CAST(YEAR(GETDATE()) AS VARCHAR) +
CAST(MONTH(GETDATE()) AS VARCHAR) +
CAST(DAY(GETDATE()) AS VARCHAR) + '0' + @NV2
ELSE
IF LEN(@NV2)=3
SELECT 'MH' + CAST(YEAR(GETDATE()) AS VARCHAR) +
CAST(MONTH(GETDATE()) AS VARCHAR) +
CAST(DAY(GETDATE()) AS VARCHAR) + @NV2
END
END
GO
/****** Object:  StoredProcedure [dbo].[pr_THEMKH]    Script Date: 1/4/2022 4:57:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_THEMKH]
(
	@MsKH			CHAR(15), 
	@TENKH			NVARCHAR(50), 
	@PHAI			NCHAR(5), 
	@DIACHI			NVARCHAR(100), 
	@DIENTHOAI		VARCHAR(10)
)
AS
BEGIN
	IF EXISTS(SELECT * FROM KHACHHANG WHERE MsKH = @MsKH)
		RAISERROR(N'Mã số khách hàng này đã tồn tại', 16, 1)
	ELSE
	BEGIN
		INSERT INTO KHACHHANG(MsKH, TENKH, PHAI, DIACHI, DIENTHOAI)
			VALUES(@MsKH, @TENKH, @PHAI, @DIACHI, @DIENTHOAI)
		RAISERROR(N'Thêm khách hàng [%s] thành công!', 16, 1, @TENKH)
	END
END
GO
/****** Object:  StoredProcedure [dbo].[pr_THEMMH]    Script Date: 1/4/2022 4:57:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_THEMMH]
(
@MSMH VARCHAR(15),
@TENMH NVARCHAR(50),
@SL_TON INT,
@DONGIA FLOAT,
@DONVITINH NVARCHAR(10)
)
AS
BEGIN
IF EXISTS(SELECT * FROM MATHANG WHERE MSMH = @MSMH)
RAISERROR(N'Mã số MẶT HÀNG này đã tồn tại', 16, 1)
ELSE
BEGIN
INSERT INTO MATHANG(MSMH, TENMH, SL_TON, DONGIA, DONVITINH)
VALUES(@MSMH, @TENMH, @SL_TON, @DONGIA, @DONVITINH)
RAISERROR(N'Thêm MẶT HÀNG [%s] thành công!', 16, 1, @TENMH)
END
END
GO
/****** Object:  StoredProcedure [dbo].[pr_THEMNV]    Script Date: 1/4/2022 4:57:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_THEMNV]
(
@MANV CHAR(15),
@TENNV NVARCHAR(50),
@PHAI NCHAR(5),
@DIACHI NVARCHAR(100),
@DIENTHOAI VARCHAR(10)
)
AS
BEGIN
IF EXISTS(SELECT * FROM NHANVIEN WHERE MANV = @MANV)
RAISERROR(N'Mã số nhân viên này đã tồn tại', 16, 1)
ELSE
BEGIN
INSERT INTO NHANVIEN(MANV, TENNV, PHAI, DIACHI, DIENTHOAI)
VALUES(@MANV, @TENNV, @PHAI, @DIACHI, @DIENTHOAI)
RAISERROR(N'Thêm nhân viên [%s] thành công!', 16, 1, @TENNV)
END
END
GO
/****** Object:  StoredProcedure [dbo].[pr_TIM_CTHD]    Script Date: 1/4/2022 4:57:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_TIM_CTHD]
(
@MSHD CHAR(15),
@NGAYHD DATETIME
)
AS
BEGIN
IF @MSHD<>''
BEGIN
SELECT hd.MSHD, ct.MSMH, mh.TENMH, mh.DONVITINH, ct.SOLUONG, mh.DONGIA, ct.THANHTIEN
FROM HOADON hd, CHITIET_HD ct, MATHANG mh
WHERE hd.MSHD = ct.MSHD and
ct.MSMH = mh.MSMH and
hd.MSHD like '%'+ @MSHD + '%'
END
ELSE
BEGIN
SELECT hd.MSHD, ct.MSMH, mh.TENMH, mh.DONVITINH, ct.SOLUONG, mh.DONGIA, ct.THANHTIEN
FROM HOADON hd, CHITIET_HD ct, MATHANG mh
WHERE hd.MSHD = ct.MSHD and
ct.MSMH = mh.MSMH and
hd.NGAYHD = @NGAYHD
END
END
GO
/****** Object:  StoredProcedure [dbo].[pr_TIMHD]    Script Date: 1/4/2022 4:57:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_TIMHD]
(
@MSHD CHAR(15),
@NGAYHD DATETIME
)
AS
BEGIN
IF @MSHD<>''
BEGIN
SELECT hd.MSHD, nv.TENNV, kh.TENKH, hd.NGAYHD, hd.TONGTIEN
FROM HOADON hd, NHANVIEN nv, KHACHHANG kh
WHERE hd.MANV = nv.MANV and
hd.MSKH = kh.MsKH and
hd.MSHD like '%'+ @MSHD + '%'
END
ELSE
BEGIN
SELECT hd.MSHD, nv.TENNV, kh.TENKH, hd.NGAYHD, hd.TONGTIEN
FROM HOADON hd, NHANVIEN nv, KHACHHANG kh
WHERE hd.MANV = nv.MANV and
hd.MSKH = kh.MsKH and
hd.NGAYHD = @NGAYHD
END
END
GO
/****** Object:  StoredProcedure [dbo].[pr_TIMKH]    Script Date: 1/4/2022 4:57:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_TIMKH]
(
@TENKH NVARCHAR(50),
@DIACHI NVARCHAR(100),
@DIENTHOAI NVARCHAR(10)
)
AS
BEGIN
IF @TENKH<>''
SELECT * FROM KHACHHANG WHERE TENKH LIKE '%'+ @TENKH +'%'
ELSE IF @DIACHI<>''
SELECT * FROM KHACHHANG WHERE DIACHI LIKE '%'+ @DIACHI +'%'
ELSE IF @DIENTHOAI<>''
SELECT * FROM KHACHHANG WHERE DIENTHOAI LIKE '%'+ @DIENTHOAI +'%'
END
GO
/****** Object:  StoredProcedure [dbo].[pr_TIMMH]    Script Date: 1/4/2022 4:57:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_TIMMH]
(
@MSMH VARCHAR(15),
@TENMH NVARCHAR(50),
@DONGIA FLOAT
)
AS
BEGIN
IF @MSMH<>''
SELECT * FROM MATHANG WHERE MSMH LIKE '%'+ @MSMH+'%'
ELSE IF @TENMH<>''
SELECT * FROM MATHANG WHERE TENMH LIKE '%'+ @TENMH +'%'
ELSE IF @DONGIA<>''
SELECT * FROM MATHANG WHERE DONGIA >= @DONGIA
END
GO
/****** Object:  StoredProcedure [dbo].[pr_TIMNV]    Script Date: 1/4/2022 4:57:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_TIMNV]
(
@TENNV NVARCHAR(50),
@DIACHI NVARCHAR(100),
@DIENTHOAI NVARCHAR(10)
)
AS
BEGIN
IF @TENNV<>''
SELECT * FROM NHANVIEN WHERE TENNV LIKE '%'+ @TENNV +'%'
ELSE IF @DIACHI<>''
SELECT * FROM NHANVIEN WHERE DIACHI LIKE '%'+ @DIACHI +'%'
ELSE IF @DIENTHOAI<>''
SELECT * FROM NHANVIEN WHERE DIENTHOAI LIKE '%'+ @DIENTHOAI +'%'
END
GO
